<!-- Card -->
<div class="card">
  <!-- Card image -->
  <img class="card-img-top" src="http://e-village.main.jp/gazou/image_gazou/gazou_0224.jpg">
  
  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"><a><%= article.title %></a></h4>
    <!-- Text -->
    <p class="card-text"><%= article.text %></p>
    <!-- Button -->
    <a href="#" class="btn btn-primary">Button</a>

  </div>

</div>
<!-- Card -->