<!-- Card -->
<div class="card">
  <!-- Title -->
    <h4 class="card-title"><a><%= article.title %></a></h4>
    
  
  <!-- Card image -->
  <div class="card-img-top"><%= image_tag article.image %></div>
  <!-- Card content -->
  <div class="card-body">

    
    <!-- Text -->
    <p class="card-text"><%= article.text %></p>
    <!-- Button -->
    <a href="/articles/<%= article.id %>" class="btn btn-primary">read more</a>

  </div>

</div>
<!-- Card -->