<div class="row">
  <div class="col">
    <% @articles.each do |article| %>
      <%= render partial: "article", locals: { article: article } %>
    <% end %>
    <%= paginate(@articles) %>
  </div>
</div>