<div class="login_back">
  <h1 class="main-title">Blooogs</h1>
  <div class="password-inner">
    <h2 class="log-title">パスワードを忘れてしまった方</h2>
    <hr color="#1e90ff">
     <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="signup-form">
        <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: 'input form-control' %>
      </div>
      <div>
        <%= f.submit class: 'signup_btn btn btn-outline-primary  withripple　btn-lg btn-block', value: 'パスワード変更メールを送る' %>
      </div>
    <% end %>
  </div>
</div>