<% if user_signed_in? %>
      <nav class="navbar navbar-expand fixed-top bg-dark text-white">
        <a href="/" class="navbar-brand">Blooogs</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/articles/new" class="nav-link">投稿</a></li>
          <li class="nav-item"><a href="/users/<%=current_user.id%>" class="nav-link">マイページ</a></li>
          <li class="nav-item"><a data-method="delete" href="/users/sign_out" class="nav-link" rel="nofollow">ログアウト</a></li>  
        </ul>
      </nav>
<% end %>